#chessboard {
    display: grid;
    grid-template-rows: repeat(8, 80px);
    grid-template-columns: repeat(8, 80px);   

    width: 640px;
    border: 2px solid black;
}

.square {
    width: 80px; 
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 48px;
}

.light {
    background-color: #eeeed2;
}

.dark {
    background-color: #769656;
}

.selected {
    background-color: yellow;
}

.movehint {
    position: relative;
}

.movehint::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.capturehint {
    outline: 3px solid rgba(255, 0, 0, 0.4)
}